
*{
    
   
    /* height: 100vh; */
    /* background: linear-gradient(red ,black); */
    /* background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSN3X7gFZun83XsXDxXuOU5cRY54U_jSoSfbz9OXUQpcEB-gC7H"); */
    /* background-repeat: cover; */
}

.page {
  /* background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSN3X7gFZun83XsXDxXuOU5cRY54U_jSoSfbz9OXUQpcEB-gC7H"); */
  /* background: transparent; */
  
    background-color:red;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin:auto ;
    margin-top: 200px;
    /* background: transparent; */
    background-color:whitesmoke;
    padding-bottom: 30px;

}

.header{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:9px;
    width:100%;
    margin-top:30px;
   

}


.text{
    color:red;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: transparent;
    /* background: red; */
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    /* background: transparent; */
    background-color: white;
    border-radius: 6px;
}

.fa.fa-key .fa.fa-envelope .fa.fa-user {
    margin: 0px 30px; /* You can adjust the values according to your needs */
    /* You can adjust the values according to your needs */
  }

  .input input{
    width: 400px;
    height: 50px;
    background: transparent;
    border: none;
    color:black;
    font-size: 19px;
    outline: none;

  }

  .forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color:black;
    font-size: 18px;


  }

  .forgot-password span{
    color:purple;
    cursor: pointer;
  }

  .submit-container{
    display: flex;
    gap: 30px;
    margin:60px auto;
  }

  .submit{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;

    background: red;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }

  .gray{
    background: #EAEAEA;
    color:grey;
  }